<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.math4kids">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Math4Kids">
        <activity android:name=".BasicCounting"></activity>
        <activity android:name=".Result" />
        <activity
            android:name=".AdvanceActivity"
            android:label="Advance Test"
            android:theme="@style/Theme.Math4Kids.Advance" />
        <activity
            android:name=".BasicActivity"
            android:label="Basic Test"
            android:theme="@style/Theme.Math4Kids" />
        <activity
            android:name=".IntermediateActivity"
            android:label="Intermediate Test"
            android:theme="@style/Theme.Math4Kids.Intermediate" />
        <activity
            android:name=".BasicQuestions"
            android:label="Basic Test"
            android:theme="@style/Theme.Math4Kids" />
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.Math4Kids.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>